.body {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  padding-top: 100px;
  font-size: clamp(1rem, 2rem, 3rem);
}

.grid {
  margin: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.6rem;
}
