.item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  padding: 1rem 2rem;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 12px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}

.input {
  width: 30px;
  text-align: center;
  border: none;
  font-size: 1.2rem;
}

.delete {
  position: absolute;
  right: 2px;
  top: 2px;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .price {
    justify-content: center;
    align-items: center;
  }
}
