.body {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 2rem;
  padding-top: 130px;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 12px;
  padding: 2rem;
}

.head {
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: transparent;
  border: none;
}

@media (max-width: 900px) {
  .body {
    grid-template-columns: 1fr;
    padding-top: 100px;
  }
}
