.body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  color: var(--red);
}

.message {
  font-size: clamp(1rem, 2.5rem, 3rem);
}
