.receipt {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: clamp(1.2rem, 2rem, 2.5rem);
}

.table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
}

.table thead {
  border: 2px dashed var(--black);
  border-left: none;
  border-right: none;
  margin: 0.5em 0;
}

.table thead tr {
  font-size: clamp(0.8rem, 1.3rem, 1.5rem);
  padding: 0.3em 0;
  font-weight: bold;
}

.table thead th {
  text-align: start;
}

.table tbody td {
  font-size: clamp(0.5rem, 1rem, 1.2rem);
  margin: 0.5em 0;
}

.table td {
  text-align: start;
}

.total {
  width: 80%;
  text-align: end;
  border-top: 2px dashed var(--black);
  margin-top: 0.5em;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  padding: 0.3em 0;
  font-weight: bold;
}
