.nav {
  background-color: var(--white);
  font-size: 2rem;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1em;
  padding: 0.5em 1em;
  position: fixed;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  z-index: 1;
}

.brand {
  font-size: 3rem;
  flex: 1;
  text-align: start;
  color: var(--dark-green);
}

.subBrand {
  color: var(--light-green);
}

.link {
  text-decoration: none;
  color: var(--dark-green);
  display: flex;
}

.cartContainer {
  position: relative;
}

.dot {
  position: absolute;
  right: -12px;
  top: -7px;
  font-size: 0.8rem;
  width: 24px;
  height: 24px;
  padding: 0.4em 0.2em;
  text-align: center;
  border-radius: 50%;
  background-color: var(--dark-green);
  color: var(--white);
}

@media (max-width: 500px) {
  .brand {
    font-size: 2rem;
  }
}
