.body {
  width: 100%;
  height: 100vh;
  background:
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.75) 45%,
      rgba(85, 85, 85, 0.2) 70%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("../../assets/grocery-x.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  color: var(--white);
  padding: 3rem 5rem;
  padding-top: 100px;
  letter-spacing: 0.1ch;
}

.banner {
  font-size: clamp(1rem, 3rem, 4rem);
}

.button {
  text-decoration: none;
  color: var(--white);
  background-color: var(--dark-green);
  width: max-content;
  font-size: 1.5rem;
  padding: 0.3em 0.8em;
  margin-top: 0.8em;
  border: 3px solid var(--white);
  border-radius: 32px;
  transition:
    color 0.5s ease,
    background-color 0.3s ease;
  letter-spacing: initial;
}

.button:hover {
  color: var(--dark-green);
  background-color: var(--white);
}

@media (max-width: 1200px) {
  .body {
    background:
      linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.75) 45%,
        rgba(85, 85, 85, 0.5) 80%,
        rgba(255, 255, 255, 0.25) 100%
      ),
      url("../../assets/grocery-x.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-items: center;
    padding: 2rem 3rem;
    padding-top: 100px;
  }

  .banner {
    text-align: center;
    font-size: 4rem;
  }

  .button {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .body {
    background:
      linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.75) 45%,
        rgba(85, 85, 85, 0.5) 80%,
        rgba(255, 255, 255, 0.25) 100%
      ),
      url("../../assets/grocery-y.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-items: center;
    padding: 2rem 3rem;
    padding-top: 100px;
  }

  .banner {
    font-size: 3rem;
  }

  .button {
    font-size: 1.5rem;
  }
}
