* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --light-green: #70ba51;
  --dark-green: #067830;
  --black: #000000;
  --white: #ffffff;
  --red: #751518;
}

#root {
  max-width: 100vw;
  text-align: center;
  position: relative;
}
